extends layout

block content

	h1= title
	
		//Records Menu
		#RecordsMenu
			table.center
				thead
					th Date
					th Car
					th Gas Station
					th Price
					th Type
					th Trip Mileage
					th Total Mileage
					th Total Gallons
					th Total Cost
		// /Menu

